body{
  background-color: var(--maincolor);
  font-family: 'arial',sans-serif;
}

:root{
  --maincolor:#fc7c12;
  --cards:4;
  --cardHeight:87vh;
  --cardToppadding:25px;
  --cardMargin:77px;
}
.container{
  width: 90%;
  margin: 0 auto;
}

#cards{
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards),var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards)*var(--cardToppadding));
  margin-bottom: var(--cardMargin);
}

#card1{
  --index:1;
}
#card2{
  --index:2;
}

#card3{
  --index:3;
}

#card4{
  --index:4;
}

#card5{
  --index:5;
}






